venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.zip
*.hdf5

.vscode/

**/.DS_Store
**/node_modules
**/public/bundle.*
my_package/beta_uploads/*.obj
my_package/uploads/*.obj
my_package/data/uploads/*.obj
my_package/data/generated_datasets/

my_package/frontend/src/forms/*.svelte
my_package/frontend/src/form_components/*.svelte





