venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.zip
*.hdf5

.vscode/

**/.DS_Store
**/node_modules
**/public/bundle.*
my_package/data/uploads/*.obj
!my_package/data/uploads/gear_class1.obj
!my_package/data/uploads/gear_class2.obj

my_package/custom_code/generation_components/media/random_images_src/*.jpg

my_package/data/generated_datasets/

my_package/frontend/src/forms/*.svelte
my_package/frontend/src/form_components/*.svelte

my_package/examples/debugging/temp/



